.footer
{
    width: 100%;
    height: 50px;
    padding: 0 40px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: var(--primary);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.2em;
    color: #FFFFFF;
    &-company
    {
        text-align: left;
    }
    &-support
    {
        text-align: right;
    }
}

@media (max-width: 576px) {
    .footer
    {
        flex-direction: column;
        row-gap: 0;
        justify-content: center;
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        &-company
        {
            text-align: center;
        }
        &-support
        {
            text-align: center;
        }
    }
}