<div class="modal-callorder" id="callorder" style="display: none;">
    <div class="modal-close"></div>
    <div class="modal-callorder__content">
        <div class="modal-callorder__title">
            Заказ звонка
        </div>
        <form action="">
            <input type="text" placeholder="Укажите номер помещения" class="form-control">
            <input type="tel" placeholder="+7 (_ _ _) - _ _ _ - _ _ - _ _" class="form-control">
            <button type="submit" class="btn btn-block btn-outline-primary">Найти</button>
        </form>

    </div>
</div>