<aside class="side-menu">
    <section class="side-menu__top">
        <div class="side-menu__top-logo">
            <img src="img/logo.svg" alt="">
        </div>
        <div class="side-menu__top-call">
            <div class="text">Отдел продаж:</div>
            <a href="tel:" class="phone fw-600">8 800 222-11-11</a>
            <a href="tel:" class="phone fw-600">8 347 285-11-11</a>
            <a href="" class="btn btn-block btn-outline-primary">Оставить заявку</a>
        </div>  
    </section>
    <nav class="side-menu__nav">
        <a class="active" href="">Главная</a>
        <a href="">О проекте</a>
        <a href="">Способы покупки</a>
        <a href="">Коммерческая <br> недвижимость</a>
        <a href="">Новости и акции</a>
        <a href="">Ход строительства</a>
        <a href="">Документы</a>
        <a href="">Контакты</a>
    </nav>
    <section class="side-menu__links">
        <div class="side-menu__links-logo">
            <img src="img/logoBottom.svg" alt="">
        </div>
    </section>
</aside>