<aside class="side-menu">
    <section class="side-menu__top">
        <a href="/" class="side-menu__top-logo">
            <img src="img/logo.svg" alt="">
        </a>
        <div class="side-menu__top-call">
            <div class="text">Отдел продаж:</div>
            <a href="tel:" class="phone fw-600">8 800 222-11-11</a>
            <a href="tel:" class="phone fw-600">8 347 285-11-11</a>
            <a href="" class="btn btn-block btn-mini btn-outline-primary">Оставить заявку</a>
        </div>  
    </section>
    <nav class="side-menu__nav">
        <a class="active" href="index.html">Главная</a>
        <a href="about.html">О проекте</a>
        <a href="payment.html">Способы покупки</a>
        <a href="">Коммерческая <br> недвижимость</a>
        <a href="news.html">Новости и акции</a>
        <a href="progress.html">Ход строительства</a>
        <a href="documents.html">Документы</a>
        <a href="contacts.html">Контакты</a>
    </nav>
    <section class="side-menu__links">
        <a href="#" class="side-menu__links-logo img-hover">
            <img class="static" src="img/logoBottom.svg" alt="">
            <img class="hover" src="img/logoBottomHover.svg" alt="">
        </a>
    </section>
</aside>