#aboutGallery
{
    position: relative;
}
.about-gallery
{
    &__title
    {
        position: absolute;
        left: 40px;
        top: 48px;
        z-index: 110;
    }
    &__slider
    {
        width: 100%;
        height: 700px;
        position: relative;
    }

    &__slide
    {
        &-photo
        {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
        }
    }
}


@media (max-width: 768px) {
    .about-gallery
{
    &__slider
    {
        height: 320px;
    }
    &__title
    {
        left: 20px;
        top: 31px;
    }

}
}