.contacts-info__img
{
    position: relative;
    width: 100%;
    &::before
    {
        content: '';
        display: block;
        padding-top: 65%;
    }
    img
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 40px;
    }
}
.contacts-info__title
{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: var(--primary);
}
.contacts-info__item
{
    margin-bottom:  1.5rem;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: var(--primary);
}
@media (max-width: 768px) {
    .contacts-info__title
    {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contacts-info__title
    {
        font-size: 18px;
    }
    .contacts-info__item
    {
        font-size: 16px;
    }

}