<section class="py-100">
    <div class="container">
        <div class="d-block ms-auto w-md-ft progressDetail-btn">
            <a href="" class="btn btn-primary d-md-inline-block d-block">Назад к списку домов</a>
        </div>

        <h1 class="h2 mb-30 text-primary">Ход строительства</h1>
        <h3 class="fw-300">Дом№3 в квартале «СОЛНЕЧНЫЙ» Жилого комлекса «Миловские просторы»:
            предусмотреть место для текста о этапе строительства
            бла бла бла бла </h3>
            <ul class="progressDetail-list h3 fw-300 mb-70">
                <li>список</li>
                <li>список</li>
                <li>список</li>
            </ul>
        <div class="progress-card__bar progressDetail-bar mb-30">
            <div class="progress-card__bar-percent" style="width: 75%;"></div>
            <div class="progress-card__bar-text">готовность дома - 75%</div>
        </div>
        <div class="row custom-row">
            <div class="col-lg-4 col-6">
                <div class="news-card">
                    <div class="news-card__img">
                        <img src="" alt="">
                    </div>
                    <div class="news-card__content news-card__content-progress">
                        <div class="news-card__content-date">3 мая, 2023</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
