<section class="newsDetail">
    <div class="container">
        <a href="" class="btn btn-primary btn-big mb-50 d-md-none d-block">Назад к списку новостей</a>
        <h1 class="newsDetail-title">О месячнике охраны труда</h1>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="newsDetail-image border-left">
                    <img src="img/newsDetail.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="newsDetail-date">3 мая, 2023</div>
                <p>В соответствии с постановлением Правительства Республики Башкортостан от 12 августа 2013 года № 369 «Об организации и проведении месячника охраны труда в Республике Башкортостан», в целях совершенствования проводимой работы по улучшению условий и охраны труда, снижения уровня производственного травматизма и профессиональной заболеваемости в апреле 2023 года на нашем предприятии были организованы мероприятия по охране труда. <br> <br>
                    В 2023 году Всемирный день охраны труда посвящен стратегиям укрепления национальных систем охраны и безопасности труда и пройдет под лозунгом «Общими усилиями сформировать позитивную культуру охраны труда».</p>
            </div>
        </div>
        <a href="" class="btn btn-primary btn-big mt-50 d-md-inline-block d-block">Назад к списку новостей</a>
    </div>
</section>