@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

:root
{
    --primary: #492E16;
    --secondary: #FDDEB2;
}

.main
{
    display: flex;
    background-color: var(--secondary);
    min-height: 100vh;
    &-wrap
    {
        position: relative;
        overflow-y: scroll;
        flex-grow: 1;
        -webkit-overflow-scrolling: none;

        &::after
        {
            content: '';
            width: 40px;
            height: 40px;
            position: fixed;
            left: 300px;
            top: 0;
            background: url('../img/top-corner.svg') no-repeat center/cover;
            z-index: 1000;
        }
        &::before
        {
            content: '';
            width: 40px;
            height: 40px;
            position: fixed;
            left: 300px;
            bottom: 0;
            background: url('../img/bottom-corner.svg') no-repeat center/cover;
            z-index: 1000;
        }
    }
    &-content
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        max-width: 100%;
        &.darken::after
        {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .75);
            z-index: 800;
        }
    }
}
@media (min-width:1200px) {
        .main
    {
        &-content
        {
            &.darken::after
            {
                display: none;
            }
        }
    }
}
@media (max-width:1200px) {
    .main
    {
        &-wrap
        {
            &::after,
            &::before
            {
                display: none;
            }
        }

        &-content
        {
            &.darken::after
            {
                content: '';
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: block;
                background-color: rgba($color: #000000, $alpha: .75);
                z-index: 800;
            }
        }
    }
    
}
@media (min-width: 768px) {
    .border-left
    {
        overflow: hidden;
        border-radius: 40px 0px 0px 40px;
    }
    .border-right
    {
        overflow: hidden;
        border-radius: 0px 40px 40px 0px;
    }

}

.custom-row
{
    row-gap: 30px;
}

.btn-block
{
    display: block !important;
}

.btn-primary
{
    padding: 1.8rem 3.8rem;
    border:var(--primary) 1px solid;
    background: var(--primary);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.2em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100px;
    transition: .3s;
    &:hover,
    &:active,
    &:focus,
    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show
    {
        border:#FFFFFF 1px solid !important;
        background-color: #FFFFFF !important;
        color: var(--primary) !important;
    }
}

.btn-outline-primary
{
    padding: 1.9rem 3.8rem;
    border:var(--secondary) 1px solid;
    background: transparent;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.2em;
    text-align: center;
    border-radius: 100px;
    
    &:hover,
    &:active,
    &:focus,
    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show
    {
        border:var(--secondary) 1px solid;
        background: var(--secondary);
        color: var(--primary);
    }
}
.btn-mini
{
    padding: 8px 16px;
}
.btn-big
{
    padding: 19px 57px;
}
.slider
{
    &__nav
    {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--primary);
        cursor: pointer;
        z-index: 100;
        border-radius: 50%;
        transition: .3s;
        img
        {
            object-fit: contain;
            display: none;
        }
        &-prev
        {
            left: 40px;
            &::after
            {
                content: '';
                display: inline-block;
                border: solid #FFFFFF;
                border-width: 0 3px 3px 0;
                border-radius: 2px;
                padding: 7px;
                transform: rotate(135deg) translateX(-2px) translateY(-2px);
                transition: .3s;
            }
        }
        &-next
        {
            right: 40px;
            &::after
            {
                content: '';
                display: inline-block;
                border: solid #FFFFFF;
                border-width: 0 3px 3px 0;
                border-radius: 2px;
                padding: 7px;
                transform: rotate(-45deg) translateX(-2px) translateY(-2px);
                transition: .3s;
            }
        }
        &-prev:hover,
        &-next:hover
        {
            &::after
            {
                border: solid var(--secondary);
                border-width: 0 3px 3px 0;
            }
        }
    }
    &__pagination
    {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0 !important;
        margin-bottom: 50px;
        z-index: 100;
        .swiper-pagination-bullet
        {
            background-color: #FFFFFF;
            border: 2px solid var(--primary);
            width: 10px; 
            height: 10px;
            opacity: 1;
        }
        .swiper-pagination-bullet-active
        {
            background-color: var(--primary);
            border: 2px solid #FFFFFF;
        }
        
    }
}

.form-control
{
    background: #FFFFFF;
    border: 0;
    border-radius: 40px;
    padding: 19px;
    &,
    &::placeholder
    {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}

.pagination
{
    display: flex;
    column-gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 10rem;
    li
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        color: var(--primary);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2em;
        text-align: center;
        border-radius: 10px;
        transition: .25s;
        a
        {
            display: block;
            text-decoration: none;
            padding: 10px;
        }
        &.more
        {
            color: #B19F86;
        }
        &.active,
        &:hover
        {
            background-color: var(--primary);
            color: #FFFFFF;
        }
    }
}
@media (max-width: 991px) {
    .slider
{
    &__nav
    {
        display: none;
        &-prev
        {
            &::after
            {
                padding: 4px;
                transform: rotate(135deg) translateX(-1px) translateY(-1px);
            }
        }
        &-next
        {
            &::after
            {
                padding: 4px;
                transform: rotate(-45deg) translateX(-1px) translateY(-1px);
            }
        }
    }
}
}
@media (max-width: 768px) {
    .pagination
    {
        column-gap: 10px;
        li
        {
            max-height: 38px;
            font-size: 12px;
            line-height: 1em;
        }
    }
}
a.link
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
}

.icon
{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
@media (max-width: 768px) {
    .icon
    {
        width: 30px;
        height: 30px;
    }
}
.new-select__wrap
{
    position: relative;
    border-radius: 30px;
}

.new-select
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding: 2rem;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    color: #333;
    appearance: none;
    cursor: pointer;
    z-index: 20;
    border-radius: 30px;
    border: 2px solid var(--primary);
}
.new-select::placeholder
{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 1.3em;
    color: #AFAFAF;
}
.new-select:focus,
.new-select:enabled
{
    border: 1px solid #D7A250;
    border-color: 0;
    outline: 0;
}

.new-select__list {
    padding: 0;
    margin: 0;
    height: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: #FFFFFF;
    font-size: 2.2rem;
    color: #333;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    border-radius: 30px;
    opacity: 0;

}
.new-select__list.active
{
    height: auto;
    opacity: 1;
}
.new-select__list.on {
    display: block;
}

.new-select__item
{
    transition: .3s;
}
.new-select__item:nth-child(even)
{
    background-color: #ECECEC;
}
.new-select__item span {
    display: block;
    padding: 1.3rem 4rem;
}
.new-select__item:hover
{
    background: #ECECEC;
}

.type-select__wrap
{
    width: fit-content;
    position: relative;
}
.type-select 
{
    width: 10ch;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.25em;
    background-color: transparent;
    color: var(--primary);
    appearance: none;
    cursor: pointer;
    z-index: 20;
    white-space: nowrap;
}
.type-select::placeholder
{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.25em;
    color: var(--primary);
}
.type-select:focus,
.type-select:enabled
{
    border: 1px solid #D7A250;
    border-color: 0;
    outline: 0;
}

.type-select__list {
    padding-top: 10px;
    height: 0;
    width: fit-content;
    position: absolute;
    top: 100%;
    right: 0;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.25em;
    color: var(--primary);
    cursor: pointer;
    z-index: 3;
    background: transparent ;
    user-select: none;
    z-index: 10;
    overflow: hidden;


}
.type-select__list.active
{
    height: auto;
}
.type-select__list.on {
    display: block;
}
.type-select__item
{
    padding: .25em .5em;
    transition: .25s;
    
}
.type-select__item span {
    display: block;
    padding: 0;
    transition: .25s;
    white-space: nowrap;
}
.type-select__item:hover
{
    background: var(--primary);
}
.type-select__item:hover span
{
    color: #FFFFFF;
}

.map
{
    position: relative;
}


@media (max-width:1200px) {
    .main
    {
        flex-direction: column;
        min-height: 100vh;
        &-wrap
        {
            position: static;
        }
        &-content
        {
            min-height: 100vh;
            position: static;
            padding-top: 60px;
        }
    }
}
@media(min-width:768px)
{
    .btn-md-outline-primary
    {
        padding: 19px 38px;
        border:var(--secondary) 1px solid;
        background: transparent;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.2em;
        text-align: center;
        border-radius: 100px;
        
        &:hover,
        &:active,
        &:focus,
        .btn-check:checked + &,
        :not(.btn-check) + &:active,
        &:first-child:active,
        &.active,
        &.show
        {
            border:var(--secondary) 1px solid;
            background: var(--secondary);
            color: var(--primary);
        }
    }
    .ymap_ctrl_display
    {
        display: none !important;

    }
}

@media (max-width:991px) {
    .slider
    {
        
        &__pagination
        {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 768px) {
    .slider
    {
        
        &__nav
        {
            height: 30px;
            width: 30px;
            &-next
            {
                right: 20px;
            }
            &-prev
            {
                left: 20px;
            }
        }
        &__pagination
        {
            margin-bottom: 20px;
        }
    }
    .form-control
    {
        padding: 12px 14px;
        &,
        &::placeholder
        {
            font-size: 14px;
            line-height: 17px;
        }
    }
    textarea.form-control
    {
        padding: 19px 13px;
        border-radius: 20px;
    }
    .custom-row
    {
        row-gap: 20px;
    }
    .btn-primary,
    .btn-outline-primary
    {
        font-size: 18px;
    }
    .btn-primary.d-inline-block
    {
        padding: 9px 18px;
    }
    .btn-primary.btn-block,
    .btn-primary.d-block,
    .btn-outline-primary.btn-block
    {
        padding: 9px 0;
    }
    .btn-big
    {
        padding: 9px 16px;
    }
    .type-select 
    {
        padding: 10px 0;
    }
    .type-select 
    {
        font-size: 12px;
        line-height: 1em;
    }
    .new-select__list
    {
        border-radius: 15px;
    }
    }

.ymaps-2-1-79-copyrights-pane,
.ymaps-2-1-79-map-copyrights-promo
{
    display: none;
}
.img-hover
{
    position: relative;
    display: block;
    img.static
    {
        opacity: 1;
        transition: .3s;
    }
    img.hover
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;   
        opacity: 0;
        transition: .3s;
    }
    &:hover
    {
        img.static
        {
            opacity: 0;
        }
        img.hover
        {
            opacity: 1;
        }
    }
}

.floor-select
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
    &__value
    {

        display: flex;
        align-items: flex-end;
        column-gap: 11px;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.2em;
        color: var(--primary);
        span
        {
            font-size: 7.2rem;
            line-height: 0.9em;
        }
    }
    &__prev,
    &__next
    {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        border-radius: 50%;
    }

    &__prev
    {
        &::after
        {
            content: '';
            display: inline-block;
            border: solid #FFFFFF;
            border-width: 0 3px 3px 0;
            border-radius: 2px;
            padding: 7px;
            transform: rotate(-135deg) translateX(-2px) translateY(-2px);
            transition: .3s;
        }
    }
    &__next
    {
        &::after
        {
            content: '';
            display: inline-block;
            border: solid #FFFFFF;
            border-width: 0 3px 3px 0;
            border-radius: 2px;
            padding: 7px;
            transform: rotate(45deg) translateX(-2px) translateY(-2px);
            transition: .3s;
        }
    }
    &__prev:hover,
    &__next:hover
    {
        &::after
        {
            border: solid var(--secondary);
            border-width: 0 3px 3px 0;
        }
    }
}
.modal-close
{
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 6rem;
    height: 6rem;
    background-color: var(--primary);
    border-radius: 50%;
    appearance: none;
    outline: none;
    border: 0;

    &::after,
    &::before
    {
        content: '';
        display: block;
        height: .2rem;
        width: 2.2rem;
        background-color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: .3s;
    }
    &:hover
    {
        &::after,
        &::before
        {
            background-color: var(--secondary);
        }
    }
    &::after
    {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    &::before
    {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
}
@media (max-width: 768px) {
    .modal-close
    {
        right: 20px;
        top: 20px;
        width: 30px;
        height: 30px;
    }
}
.divider
{
    display: block;
    height: 1px;
    background-color: var(--primary);
    margin: 2rem 0;
}
@media (max-width: 768px) {
    .divider
    {
        margin: 20px 0;
    }
}
