@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

:root
{
    --primary: #492E16;
    --secondary: #FDDEB2;
}

.main
{
    display: flex;
    background-color: var(--secondary);
    min-height: calc(100vh - 50px);
    &-wrap
    {
        position: relative;
        overflow-y: scroll;
        flex-grow: 1;
        
    }
    &-content
    {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        
    }
}

.custom-row
{
    row-gap: 30px;
}

.btn-block
{
    display: block !important;
}

.btn-primary
{
    padding: 19px 38px;
    border:var(--primary) 1px solid;
    background: var(--primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    color: #FFFFFF;
    border-radius: 100px;
    transition: .3s;
    &:hover,
    &:active,
    &:focus,
    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show
    {
        border:var(--primary) 1px solid !important;
        background-color: var(--secondary) !important;
        color: var(--primary) !important;
    }
}

.btn-outline-primary
{
    padding: 19px 38px;
    border:var(--secondary) 1px solid;
    background: transparent;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    border-radius: 100px;
    
    &:hover,
    &:active,
    &:focus,
    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show
    {
        border:var(--secondary) 1px solid;
        background: var(--secondary);
        color: var(--primary);
    }
}
.btn-mini
{
    padding: 8px 16px;
}
.btn-big
{
    padding: 19px 57px;
}
.slider
{
    &__nav
    {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 100;
        img
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        &-prev
        {
            left: 40px;
        }
        &-next
        {
            right: 40px;
        }
    }
    &__pagination
    {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0 !important;
        margin-bottom: 50px;
        z-index: 100;
        .swiper-pagination-bullet
        {
            background-color: #FFFFFF;
            border: 2px solid var(--primary);
            width: 10px; 
            height: 10px;
            opacity: 1;
        }
        .swiper-pagination-bullet-active
        {
            background-color: var(--primary);
            border: 2px solid #FFFFFF;
        }
        
    }
}

.form-control
{
    background: #FFFFFF;
    border: 0;
    border-radius: 40px;
    padding: 19px;
    &,
    &::placeholder
    {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}

.pagination
{
    display: flex;
    column-gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    li
    {
        background-color: transparent;
        color: var(--primary);
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2em;
        text-align: center;
        border-radius: 10px;
        transition: .25s;
        a
        {
            display: block;
            text-decoration: none;
            padding: 10px;
        }
        &.more
        {
            color: #B19F86;
        }
        &.active,
        &:hover
        {
            background-color: var(--primary);
            color: #FFFFFF;
        }
    }
}
a.link
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.icon
{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.new-select {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    padding: 2rem 2rem;
    background-color: #FFFFFF;
    border-radius: 40px;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 1em;
    color: #333;
    appearance: none;
    cursor: pointer;
    z-index: 20;
}
.new-select::placeholder
{
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 1.3em;
    color: #AFAFAF;
}
.new-select:focus,
.new-select:enabled
{
    border: 1px solid #D7A250;
    border-color: 0;
    outline: 0;
}

.new-select__list {
    padding-top: 30px;
    margin-top: -30px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: pointer;
    z-index: 3;
    background: #FFFFFF;
    border-radius: 0 0 40px 40px;
    user-select: none;
    color: #333;
    z-index: 10;
    height: 0;
    overflow: hidden;
    font-size: 2.2rem;

}
.new-select__list.active
{
    height: auto;
}
.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 1.5rem 2rem;
}
.new-select__item:hover
{
    background: #BA975C;
}
.new-select__item:hover span
{
    color: #FFFFFF;
}




@media (max-width:1200px) {
    .main
    {
        flex-direction: column;
        min-height: 100vh;
        &-wrap
        {
            position: static;
        }
        &-content
        {
            min-height: 100vh;
            position: static;
            padding-top: 100px;
        }
    }
}

@media (max-width:991px) {
    .slider
    {
        
        &__pagination
        {
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 768px) {
    .slider
    {
        
        &__nav
        {
            height: 30px;
            width: 30px;
            &-next
            {
                right: 20px;
            }
            &-prev
            {
                left: 20px;
            }
        }
        &__pagination
        {
            margin-bottom: 20px;
        }
    }
    .form-control
    {
        padding: 12px;
        &,
        &::placeholder
        {
            font-size: 14px;
            line-height: 17px;
        }
    }
    .custom-row
    {
        row-gap: 20px;
    }
    .btn-primary.btn-block,
    .btn-outline-primary.btn-block
    {
        padding: 9px 0;
    }
    .btn-big
    {
        padding: 9px 16px;
    }
}

